<h1>Welcome to OST-NYC: <em>an out of school time resource for parents</em></h1>
<p> Parents, have you ever needed a one stop destination to find after school programs and submit an application thereto? <strong>OST-NYC</strong> is your destination for your needs. 
<br> 
<br>
Sign up or log in below to find programs and submit applications for your child or children today!</p>
<br>
<br>
<%= link_to 'Sign Up', '/signup' %> or <%= link_to 'Log In', '/login' %>