<h1>Log In</h1>
<%= form_for(:session, url: login_path) do |f| %>
    <label>Username:</label><br>
    <%= f.text_field :username %><br>
    <label>Password:</label><br>
    <%= f.password_field :password %><br>
    <br><%= f.submit 'Login' %>
<% end %>