<h1>All Applications</h1>
<ul>
    <% @applications.each do |application| %>
        <li> link_to application_path(application) <strong> application.agency "application" </strong></h2><br> </li>
    <%end%>
</ul>