<h1>Welcome to OST-NYC: <em>an out of school time resource for parents</em></h1>
<p> Parents, have you ever needed a single place to save after school programs in your city and the respective applications for your child? <strong>OST-NYC</strong> is your destination for just that. 
<p> Stay organized by adding your top out of school programs for your child and quickly fill out an application while you are at it! </p>
<br> 
<br>
Sign up or log in below to save programs and applications for your child or children today!</p>
<br>
<br>
<%= link_to 'Sign Up', '/signup' %> or <%= link_to 'Log In', '/login' %>
<br>
<br>
<%= link_to('Log in with Facebook!', '/auth/facebook', method: :post) %>
<br>
<%= link_to('Log in with Google!', '/auth/google_oauth2', method: :post) %>